Package:			jellyfin
Version:			10.8.12.1
Packager:			PDN
Email:
Homepage:			https://jellyfin.org
Description:		The Free Software Media System
Icon:				jellyfin.svg
AddonShowName:		Jellyfin Media Server
AddonIndexPage:		index.php
AddonUsedPort:
AddonDefaultPort:
AddonDefaultGroup:
AddonDefaultUser:
InstDepend:
InstConflict:
StartDepend:
StartConflict:
CenterType:			0
UserControl:		1
MinFWVer:			5.27.157
MaxFWVer:
IndividualFlag:		1
Hidden:				off
